
<h1>Login</h1>

<%
const message = 'khen';
if(typeof message !== 'undefind'){%>
    <h4 style="color: red;"><%= message %></h4>
<% } %>
<form action="" method="POST">

    <input type="email" name="email" placeholder="Enter email" required>
    <br><br>
    <input type="password" name="password" placeholder="Enter password" required>
    <br><br>
    <input type="submit" value="login">

</form>